.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;

    .login-element {
        display: flex;
        align-items: end;
        gap: 10px;
    }
}

